<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css'>
    <link rel="stylesheet" href="css/projects.css">
  </head>
<!-- Timeline Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
        <div>
            <div class="container">
                <p id="title">PROJECTS</p>
                <div class="row">
                    <div id="root"></div>
                </div>
            </div>
            </div>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js'></script>
            <script  src="js/projects.js"></script>
</section>
      
      <!-- Timeline End -->
      